# Eclipse / Builder meta

.settings
.project
.actionScriptProperties
.flexProperties

# Mac / Windows BS

Thumbs.db
.DS_Store

# Things built by Builder

main/bin
test/bin-debug
test/html-template

# Things built by ant / Idea that we don't want
main/build
